//COLORS
$color-primary: #2b2d42;
$color-primary-light: lighten($color-primary, 10%);
$color-primary-light-2: lighten($color-primary, 15%);
$color-primary-dark: darken($color-primary, 10%);

$color-secondary: #edf2f4;
$color-secondary-light: lighten($color-secondary, 10%);
$color-secondary-dark: darken($color-secondary, 10%);

$color-tertiary: #ef233c;
$color-tertiary-light: lighten($color-tertiary, 10%);
$color-tertiary-dark: darken($color-tertiary, 10%);

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
