@use "../../styles/main";

.title {
  text-align: center;
  font-size: 3.5rem;
  color: main.$color-white;
  font-weight: 400;
}

.button {
  background-color: transparent;
  border: none;
  font-size: 3rem;
  color: main.$color-tertiary-light;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    color: main.$color-tertiary-dark;
  }
}
