@use "../../styles/main";

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  gap: 1rem;

  &:hover {
    .remove {
      opacity: 1;
    }
  }
}

.button {
  @include main.center;
  background-color: transparent;
  border: none;
  color: main.$color-tertiary-light;
  transition: all 0.2s;
  font-size: 3rem;
  min-width: 5rem;

  &:hover {
    cursor: pointer;
    color: main.$color-tertiary-dark;
  }
}

.input {
  background-color: transparent;
  color: main.$color-white;
  border: none;
  font-size: 2.3rem;
  font-family: inherit;
  min-width: 25rem;
  width: 25vw;
  padding-bottom: 1rem;
  transition: all 0.3s;
  cursor: text;
  border-bottom: 1px solid main.$color-tertiary-light;
  resize: none;
  overflow: hidden;
}

.form {
  display: flex;
  align-items: center;

  &:focus-within {
    .button {
    }

    .input {
      outline: none;
      width: 20vw;
    }
  }
}

.remove {
  @include main.center;
  min-width: 5rem;
  background-color: transparent;
  border: none;
  font-size: 4rem;
  color: main.$color-tertiary-light;
  opacity: 0;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    color: main.$color-tertiary;
  }
}
