@use "../../styles/main";

.list {
  text-decoration: none;
}

.button {
  background-color: transparent;
  border: none;
  font-size: 3rem;
  color: main.$color-tertiary-light;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    color: main.$color-tertiary-dark;
  }
}
