@use "../../styles/main.scss";

.section {
  display: flex;
  margin-bottom: 3rem;
}

.button {
  display: none;

  &:checked + label {
    color: main.$color-tertiary-light;
  }
}

.icon {
  display: inline-block;
  font-size: 4rem;
  cursor: pointer;
  color: main.$color-secondary;
  transition: all 0.2s;

  &:not(:last-child) {
    padding-right: 2rem;
  }

  &:hover {
    transform: translateY(-0.3rem);
  }
}
